%h1 Listing prices

%table.table.table-striped.table-bordered.color2
  %thead
    %tr
      %th name
      %th uploaded
      %th state
      %th products
      %th
      %th
      %th
  %tbody
    - @prices.each do |price|
      %tr
        %td= link_to price.name, price.file_url
        %td
          = time_ago_in_words price.created_at
          ago
        %td= price.state
        %td= price.products.count
        %td= link_to 'Show', price
        %td= link_to 'Edit', edit_price_path(price)
        %td= link_to 'Destroy', price, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Price', new_price_path
