%h1 Listing prices

%table.table.table-striped.table-bordered.color2
  %thead
    %tr
      %th name
      %th uploaded
      %th state
      %th products
      %th
  %tbody
    - @prices.each do |price|
      %tr
        %td= link_to price.name, price
        %td
          = time_ago_in_words price.created_at
          ago
        %td= price.state
        %td= link_to price.products.count, price, class: :badge
        %td
          .btn-group.btn-group-xs
            = link_to edit_price_path(price), class: :btn do
              %span.glyphicon.glyphicon-sort
            = link_to price, :method => :delete, class: 'btn btn-inverse', :data => { :confirm => 'Are you sure?' } do
              %span.text-danger.glyphicon.glyphicon-fire

= link_to new_price_path, class: :btn do
  New Price
  %span.glyphicon.glyphicon-log-in
